// src/index.scss

// Fonte Poppins
* {
  font-family: 'Poppins', sans-serif;
}

// Cores personalizadas
:root {
  --bs-primary: #3498db; // cor primária
  --bs-secondary: #2ecc71; // cor secundária
}
